#signup-section{
    text-align: center;
}
#signup-section .title {
    margin-bottom: 12px;
}

.login-section {
    margin-inline: 124px;
}

.buttons-section {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

#African {
    margin-bottom: 12px;
}

.register-text {
    color: hsl(348, 100, 70);
    display: none;
}

.game-box{
    margin-inline: 124px;
}

#keyboard {
    padding-inline: 20px;
    margin: 0;
}